body {
  padding: 30px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin:0 0 .5em 0;
}

.navbar a {
  color: #0069d9;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper {
  padding-left:312px;
  position:relative;
}


fieldset {
  border:0;
  padding:0; margin:0;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 5px;
}

.center {
  margin: auto;
  width: 75%;
  padding: 10px;
}

img {
  width: 65%;
  height: 65%;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

.alert {
  text-align: center;
}

h1 {
  font-weight: bolder;
  padding-bottom: 20px;
}

.btn-group .btn {
  margin: 15px;
}