<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">COVID VACCINATION TRACKER</a>
      </div>
      <div class=" navbar" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/newperson">ADD PERSON</a></li>
          <li id="contact"><a href="/userlist">USER LIST</a></li>
        </ul>
      </div>
    </div>
  </nav>