<div class="alert alert-warning" role="alert">
  Declaration of emergency in effect. Stay at home except for essential travel and follow the <a class="alert-link" href="https://covid-19.ontario.ca/zones-and-restrictions">restrictions and public health measures</a>.
</div>
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000"><img src="img/ontario.png"/></a>
      </div>
      <div class=" navbar" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/newperson">ADD PERSON</a></li>
          <li id="contact"><a href="/personlist">PERSON LIST</a></li>
        </ul>
      </div>
    </div>
  </nav>