<!DOCTYPE html>
<html>

<head>
  <%include sections/head %>
</head>

<body>
  <% include sections/navbar %> 
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <form action="/newperson">
    <input type="submit" value="Add New Person" />
  </form>
</body>

</html>