<!DOCTYPE html>
<html>
  <head>
    <%include sections/head %>
  </head>
  <body>
    <%include sections/navbar %>
    <h1><%= title %></h1>
    <ul>
      <table class="table table-striped">
        <tr>
           <th>First Name</th><th>Last Name</th><th>Priority</th>
        </tr>
     
        <% for (var i = 0; i < personlist.length; i++) { %>
         <tr>
           <td><%= personlist[i].firstName %></td>
           <td><%= personlist[i].lastName %></td>
           <td><%= personlist[i].priority %></td>
         </tr>    
        <% } %>
     </table>
    </ul>
  </body>
</html>